<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Scraper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
  <section class="hero is-info is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" style="font-family: 'Montserrat Alternates', sans-serif; font-size: 30px;" href="/">
              <!--<img src="https://bulma.io/images/bulma-type-white.png" alt="Logo"> -->
              Twitter Scrapper
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="/">
                Find Tweets
              </a>
              <a class="navbar-item" href="/about">
                About
              </a>
              <!--
              <a class="navbar-item">
                Documentation
              </a>
              <span class="navbar-item">
                <a class="button is-info is-inverted">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
              -->
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Tweets to CSV
        </p>
        <p class="subtitle">
          Input the parameters of your search field
        </p>
        <p>
          <form method="POST">
            <div class="columns">
              <div class="column">
                <!-- keywords -->
                <div class="field" style="display:flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px">
                  <label class="label">
                    Keyword or Keywords Search</label>
                </div>
                <div>
                  <input type="text" id="yourText" name="keywords" placeholder="e.g. elon $btc" class="input is-small is-rounded"/>
                </div>

                <!-- user -->
                <div class="field" style="display:flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px">
                  <label class="label">
                    User Search</label>
                </div>
                <div>
                  <input type="text" id="yourText2" name="user" placeholder="elonmusk " class="input is-small is-rounded"/>
                </div>
                
                <!-- search limit -->
                <div class="field" style="display:flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px">
                  <label class="label">
                    Limit Search (Max of 500 Tweets)</label>
                </div>
                <div>
                  <input type="number" id="yourText5" name="limit" placeholder="5" class="input is-small is-rounded" value='5'/>
                </div>

              </div>

              <div class="column">
                <!-- search since -->
                <div class="field" style="display:flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px">
                  <label class="label">
                    Beginning Date</label>
                </div>
                <div>
                  <input type="date" id="yourText3" name="s_since" class="input is-small is-rounded"/>
                </div>

                <!-- search until -->
                <div class="field" style="display:flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px">
                  <label class="label">
                    End Date</label>
                </div>
                <div>
                  <input type="date" id="yourText4" name="s_until" class="input is-small is-rounded"/>
                </div>

                <div class="buttons" style="display:flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 40px">
                  <input class="button is-dark is-rounded is-outlined" type="submit" value="SEARCH">
                </div>

              </div>
            </div>
            <div class="container has-text-centered">
              <p class="subtitle is-4" style="margin-bottom: 5px"">Return Parameters</p>
            </div>
            <div class="columns">
              <div class="column">
                <label class="checkbox label">
                  <input type="checkbox" id="return1" style="margin-right: 5px" name="r_url" value="True" checked="checked"/>
                  URL
                </label>
              </div>
              <div class="column">
                <label class="checkbox label">
                  <input type="checkbox" id="return2" style="margin-right: 5px" name="r_date" value="True" checked="checked"/>
                  Date
                </label>
              </div>
              <div class="column">
                <label class="checkbox label">
                  <input type="checkbox" id="return3" style="margin-right: 5px" name="r_user" value="True" checked="checked"/>
                  User Name
                </label>
              </div>
              <div class="column">
                <label class="checkbox label">
                  <input type="checkbox" id="return4" style="margin-right: 5px" name="r_content" value="True" checked="checked"/>
                  Content
                </label>
              </div>
              <!--
              <div class="column">
                <label class="checkbox label">
                  <input type="checkbox" id="return5" style="margin-right: 5px" name="r_raw" value="True" onclick="isChecked()"/>
                  Raw Data
                </label>
              </div> -->
            </div>
          </form>
          
        </p>

        <div class="container has-text-centered">
          <p class="subtitle is-4" style="margin-bottom: 5px; margin-top: 20px"">Recent Searches</p>
        </div>
        <table class="table is-striped is-narrow is-hoverable is-fullwidth">
          <tr>
              <th>Index</th>
              <th>Date Searched</th>
              <th>Keywords Field</th>
              <th>User Field</th>
              <th>Limit</th>
              <th>Beginning Date</th>
              <th>End Date</th>
          </tr>
          {% for item in data %}
          <tr>
            <td>{{ item['index'] }}</td>
            <td>{{ item['date_searched'] }}</td>
            <td>{{ item['keywords_search'] }}</td>
            <td>{{ item['user_search'] }}</td>
            <td>{{ item['limit'] }}</td>
            <td>{{ item['beginning_date'] }}</td>
            <td>{{ item['end_date'] }}</td>
          </tr>
          {% endfor %}
      </table>
      </div>
    </div>

    <footer class="footer" style="background-color: #0c096e">
      <div class="content has-text-centered">
        <p>
          <strong>Twitter Scraper</strong> by <a href="https://mael.pages.dev/">Ismael Sarmiento</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/ismael-luis-sarmiento/" class="linkedin" target="_blank" rel="noopener noreferrer">
            <ion-icon class="icon is-medium" style="padding-left: 10px; padding-right: 10px;"name="logo-linkedin"></ion-icon></a>
          </a>
          <a href="https://github.com/maelsar" class="instagram" target="_blank" rel="noopener noreferrer">
            <ion-icon class="icon is-medium" name="logo-github"></ion-icon></a>
          <a href="https://twitter.com/codewithmael" class="instagram" target="_blank" rel="noopener noreferrer">
            <ion-icon class="icon is-medium" style="padding-left: 10px; padding-right: 10px;"name="logo-twitter"></ion-icon></a>
        </p>
      </div>
    </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="../static/index.js"></script>
  </body>

  

</html>